.App {
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
  background-color: #003a6d;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 150px;

}

.visualBackground{
  background: url('./img/islands.png') no-repeat;
  opacity: .8;
  background-size: 100%;
}

.visualContainer{
	background-color: rgba(232,232,232,.6);
	padding: 20px;
}

/* Titles */

.titleContainer{
	background-color: white;
	padding: 10px;
}

h1{
	padding: 0;
	margin:0;
}
.title{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 32px;
}

h2{
	margin: 0;
}

.subtitle{
	font-weight: normal;
	font-style: italic;
	font-size: 22px;
}

/* Recharts Graph Custom Formatting */
.recharts-surface{
	padding-top:10px;
}

.recharts-layer.recharts-bar {
	margin-top: 10px;
}

/***** Action Container ****/
/* Action Buttons */
.actions{
	display:block;
	width: 98%;
	padding:10px;
	margin-top:10px;
	background-color: white;
}

.actionButton{
	display: inline-block;
	height: 20px;
	width: 20px;
}


#startButtons{
	display: inline-block;
	float:left;
}

#replayButton{
	display: inline-block;
	float:right;
}

/* Progress Bar */
.progressBarContainer {
  width: 100%;
  height: 20px;
  overflow: hidden;
  position:relative;
  display: flex;
}


.progressBar{
	display: inline-block;
	width: 90%;
	height: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

.dataBar {
opacity: .7;
  width: 100%;
  height:20px;
  display: inline-block;
  vertical-align: middle;
}

.dataBar.back{
    position: absolute;
}

.dataBar.front{
    position: absolute; 
   -webkit-transition: width 4s, height 4s; /* For Safari 3.1 to 6.0 */
    transition: width 4s, height 4s,
}

.yearsArray{
	color: black;
    z-index: 1;
	width: 100%;
	font-size:16px;
	display: flex;
    align-items: center;
    justify-content: center;
}
.yearsArray > div {
    display: inline-block;
    *display: inline; /* For IE7 */
    zoom: 1; /* Trigger hasLayout */
    text-align: center;
}

.singleYear{
	font-color: black;
}

.singleYearWhite{
	font-color: red;

}

/* Footer */
.footer{
	text-align: left;
}

.footer > p{
	font-size: 12px;
	font-style: italic;
	margin-bottom: 0px;
}

/* RESPONSIVE */
@media all and (max-width: 600px) {
	.title{
		text-transform: uppercase;
		font-weight: bold;
		font-size:16px;
	}
	.subtitle{
		font-size: 14px;

	}

	.actionButton{
		display: inline-block;
		height: 15px;
		width: 15px;
	}
	.footer >p {
		font-size: 10px;
	}

	.progressBar{
		margin-left: 0;
		margin-right: 0;
		width: auto;
	}

	.dataBar.front{ 
	   -webkit-transition: width 4s, height 4s; /* For Safari 3.1 to 6.0 */
	    transition: width 4s, height 4s,
	}

	.yearsArray > div {
	    font-size: .75em;
	    padding-left:2px;
	    padding-right:2px;
	}

	.recharts-text.recharts-cartesian-axis-tick-value{
		font-size:10px;
		font-weight:normal;
	}

	.recharts-layer.recharts-label-list{
		font-size:10px;
	}
}